*.*f*sl
foo*
*tmp*
ns-test
*.dylib
*~
*grovel*
a.out
GPATH
GRTAGS
GTAGS
.*.dSYM
*.dSYM
*~
*.o
.[#]*[#]
[#]*
*.old
nsrect-expose.c
test.c
.[#]*
demo-app
demo.app
*.framework
.DS_Store
*.iconset
*.png
*.icns
NSRect-Expose
*.nib
.*.sw?
